<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Google Picker Example</title>

    <script type="text/javascript">
      // The Browser API key obtained from the Google API Console.
      // Replace with your own Browser API key, or your own key.
      var developerKey = "AIzaSyDakTEUxGmv1YzAmFOY_a_TjLbHi0AInBQ";

      // The Client ID obtained from the Google API Console. Replace with your own Client ID.
      var clientId =
        "190677137444-c7fdcp8amqpgdj6hidmn5l9gtp4apkiu.apps.googleusercontent.com";

      // Scope to use to access user's Drive items.
      var scope = ["https://www.googleapis.com/auth/drive.file"];

      var pickerApiLoaded = false;
      var oauthToken =
        "ya29.a0ARrdaM8n-i4a2LroWPPFwfvUB27m1holMKT1FSxCEO5kynkJYczgrNwylKdqhkoNILPcfAm7emERlc-wGx0rEEjjKjGv2EmMeotpddqQzgb9dR_qoTU-rBuolyqayfRiolJk7sr9bNTPOoVcvm5gtgQ6bbLoJw";

      // Use the Google API Loader script to load the google.picker script.
      function loadPicker() {
        //gapi.load("auth", { callback: onAuthApiLoad });
        gapi.load("picker", { callback: onPickerApiLoad });
      }

      function onAuthApiLoad() {
        window.gapi.auth.authorize(
          {
            client_id: clientId,
            scope: scope,
            immediate: false,
          },
          handleAuthResult
        );
      }

      function onPickerApiLoad() {
        pickerApiLoaded = true;
        createPicker();
      }

      function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
          console.log(authResult.access_token);
          oauthToken = authResult.access_token;
          createPicker();
        }
      }

      // Create and render a Picker object for searching images.
      function createPicker() {
        if (pickerApiLoaded && oauthToken) {
          var view = new google.picker.View(
            google.picker.ViewId.DOCS
          ).setParent("0AHfG4UABlOezUk9PVA");
          var uploadView = new google.picker.DocsUploadView().setParent(
            "0AHfG4UABlOezUk9PVA"
          );
          view.setMimeTypes("image/png,image/jpeg,image/jpg");
          var picker = new google.picker.PickerBuilder()
            .setLocale("es-419")
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(uploadView)
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
          picker.setVisible(true);
        }
      }

      // A simple callback implementation.
      function pickerCallback(data) {
        if (data.action == google.picker.Action.PICKED) {
          var fileId = data.docs[0].id;
          alert("The user selected: " + fileId);
        }
      }
    </script>
  </head>
  <body>
    <div id="result"></div>

    <!-- The Google API Loader script. -->
    <script
      type="text/javascript"
      src="https://apis.google.com/js/api.js?onload=loadPicker"
    ></script>
  </body>
</html>
