.text-btnCancelar {
  color: #f2b235 !important;
}

.bg-btnCancelar {
  background: #f2b235 !important;
}

.text-btnVolver {
  color: #62b154 !important;
}

.bg-btnVolver {
  background: #62b154 !important;
}

.text-btnContinuar {
  color: #29a5b5 !important;
}

.bg-btnContinuar {
  background: #29a5b5 !important;
}

.text-btnAdjuntar {
  color: #385280 !important;
}

.bg-btnAdjuntar {
  background: #385280 !important;
}

.fondoSuperior {
  background-color: #f0f0f0;
}

.fondoIzquierda {
  background-color: #fafafa;
}

.fondoAmarillo {
  background-color: #fcefd5;
}

.tablaAcciones {
  background-color: #f0f0f0;
  color: #385280;
}

.tarjetaAmarilla {
  background-color: #fcefd5;
  color: #385280;
}

.text-textoAzul {
  color: #385280 !important;
}

.bg-textoAzul {
  background: #385280 !important;
}
